.name{
    grid-area: n;
}

.cipher{
    grid-area: s;
}

.list{
    grid-area: l;
}

.details{
    display: grid;

    grid-template-columns: 150px auto 60px;
    grid-template-areas:
            "n s l";

    /*border-radius: 10px;*/
    /*border-color: slategrey;*/
    /*border: solid;*/
    /*border-width: 1px;*/


    background-color: white;
    color: black;
    box-shadow: 0 0 10px black;
    margin: 5px;
}

.panel{
    margin: 10px;
}