.list{
    grid-area: l;
    margin: 0px;
    padding: 0px;
}

.panel{
    grid-area: p;
    margin: 20px;
}

.page{
    display: grid;
    margin: 2px;
    border: 2px;

    grid-template-columns: auto auto;


    grid-template-areas:
            "l p";
}