.name{
    grid-area: n;
}

.cipher{
    grid-area: s;
}

.list{
    grid-area: l;
    text-align: right;
}

.details{
    height: 100%;
}

.detail{
    display: grid;

    grid-template-columns: auto 80px;
    grid-template-areas:
            "n l"
            "s l";

    /*border-radius: 10px;*/
    /*border-color: slategrey;*/
    /*border: solid;*/
    /*border-width: 1px;*/


    font-size: 18px;

    background-color: white;
    color: rgb(81,92,102);
    box-shadow: 0 0 10px rgb(81,92,102);
    margin: 5px;
}

.details a{
    text-decoration: none;
}

.panel{
    margin: 10px;
}

.input{
    padding: 5px;
    margin: 1px;
    font-size: 16px;
    color: rgb(81,92,102);
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: white;
    height: 20px;
    align-items: center;
}
.input:after{
    border: aliceblue;
}


.button{
    background-color: rgb(81,92,102);
    border-radius: 0 8px 8px 0;
    border: none;
    font-size: 16px;
    padding: 5px;
    margin: 1px;
    text-align: center;
    line-height: inherit;
    color: rgb(205,216,228);
    user-select: none;
    outline: none;
    display: inline-block;
    height: 20px;
    align-items: center;
}

.button:after{

}
.button:hover:after{

}