.progress  {

    padding: 1px;
    grid-area: pr;
}


.progress meter{
    padding: 3px;
    width: 100%;
    height: 15px;
}




.date{
    grid-area: d;
    font-size: 24px;
    margin: 4px;
    color: rgb(180, 190, 200);
}

.status{
    margin: auto;
    padding: 2px;
    grid-area: st;
    text-align: center;
    color: rgb(205,216,228);
}

.plan{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 38px 20px;

    grid-template-areas:
            "d st"
            "pr pr";


    margin: 10px;
    border-radius: 8px;
    background-color: #32363A;
    border: 0.02em solid #d3f0ff;

    box-shadow: 0 0 10px rgb(101,112,122);
}

.a{
    text-decoration: none;
}