progress  {

    padding: 2px;
    grid-area: p;
}

span {

    padding: 4px;
    grid-area: s;
}

button{
    grid-area: b;
}

.product{
    display: grid;
    grid-template-columns: 100px 100px 60px;
    align-items: center;

    grid-template-areas:
            "s p b";
}