progress  {

    padding: 2px;
    grid-area: p;
}

/*span {*/

/*    padding: 4px;*/
/*    grid-area: s;*/
/*}*/

button{
    grid-area: b;
}

.product{
    display: grid;
    grid-template-columns: 100px 100px 60px;
    align-items: center;

    grid-template-areas:
            "s p b";
}

.date{
    grid-area: d;
    font-size: 22px;
    margin: 4px;
}

.status{
    margin: auto;
    padding: 2px;
    grid-area: st;
    text-align: center;
}

.plan{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 40px;

    grid-template-areas:
            "d st";


    margin: 10px;
    border-radius: 3px;
    background-color: #8fa3ad;
    border: 0.005em solid #d3f0ff;
    color: rgb(81,92,102);
    box-shadow: 0 0 10px rgb(81,92,102);
}

.a{
    text-decoration: none;
}