.page{

}

.name{
    grid-area: n;
    font: 20px bold;
    color: rgb(81,92,102)
}

.cipher{
    grid-area: c;
    color: rgb(81,92,102)
}

.progress  {
    padding: 2px;
    grid-area: pr;
}

.progress progress{
    width: 90%;
    height: 8px;
}

.product{
    display: grid;
    grid-template-columns: 250px ;
    grid-template-rows: 50px 20px 12px;
    align-items: center;

    grid-template-areas:
            "n"
            "c"
            "pr";


    background-color: white;
    box-shadow: 0 0 5px black;

    margin: 10px;
    padding: 5px;

    border-radius: 8px;
}


